services:
  laravel:
    build:
      context: .
      dockerfile: docker/Dockerfile
    volumes:
      - .:/var/www/html
    networks:
      - laravel-network
    depends_on:
      - mysql

  web-server:
    image: nginx:alpine
    ports:
      - '8080:80'
    volumes:
      - .:/var/www/html
      - ./docker/default.conf:/etc/nginx/conf.d/default.conf
    networks:
      - laravel-network
    depends_on:
      - laravel
  mysql:
    image: mysql:8.0
    environment:
      MYSQL_ROOT_PASSWORD: password
      MYSQL_DATABASE: laravel_db
    ports:
      - '3306:3306'
    networks:
      - laravel-network
    volumes:
      - db_data:/var/lib/mysql
  phpmyadmin:
    image: 'phpmyadmin:latest'
    ports:
      - '8081:80'
    environment:
      PMA_HOST: mysql
      PMA_USER: root
      PMA_PASSWORD: password
    networks:
      - laravel-network
    depends_on:
      - mysql
networks:
  laravel-network:
    driver: bridge
volumes:
  db_data:
    driver: local